html, body {
    margin: 0;
    height: 100%;
}

.main {
    font-size: 28px; /* Increased text to enable scrolling */
}


#submitdiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container {
    align-content: center;
    align-items: center;
    align-self: center;
    align: center;

}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

@media only screen and (min-width: 600px) {
    .main {
        margin-left: 160px;
        padding: 0px 10px;
    }

    .sidebar {
        left: 15px;
        top: 30%;
        position: fixed;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidenav label {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #fafeff;
        display: block;
    }

    .sidenav label:hover {
        color: #f1b100;
    }

    .top {
        width: 400px;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .btn-primary {
        width: 100%;
    }

    .bot {
        width: 400px;
        table-layout: fixed;
        border-collapse: collapse;

    }
}

@media only screen and (max-width: 600px) {

    .sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #111;
        margin: 0;
        height: 100%;
    }

    .btn-group-vertical{

    }


}
